doctype html
html(lang="en")
    head
        include partials/header
    body
        header.barra
            h1 UpTask - Project Manager
            //- #{year}
            //- h1 ProductManager - Administrador de productos
            a(href="/") Cerrar sesion
        main.contenedor
            aside.contenedor-proyectos
                .panel.crear-proyecto
                    a(href="/new-project" class="boton") New project
                        span +                        
                .panel.lista-proyectos
                    ul#proyectos.proyectos
                        //- Listamos todos los proyectos de la base de datos -//
                        if(allProjects && allProjects.length > 0)
                            each project in allProjects
                                li 
                                    a(href=`/proyectos/${project.url}`) #{project.name}
            //- pre= varDump(allProjects)
            block contenido 
    script(src="/dist/bundle.js")